body {
  font-family: "Helvetica", "Arial", sans-serif;
  position: relative;
  line-height: 1.5;
  width: 92%;
  background-color: #40383b0a;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11%;
}

dt {
  display: inline;
  font-weight: bold;
  padding-left: 1em;
}

dt::after {
  content: ": "
}

dd {
  display: inline;
  margin-inline-start: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

#recipe-1 img, #recipe-2 img, #recipe-3 img {
  border-radius: 15px;
  border: 1px solid rgb(43, 43, 43);
  width: 25%;
  box-shadow: 3px 3px 9px rgb(113, 115, 30);
}

#photo-1, #photo-2, #photo-3 {
  text-align: center;
}

p {
  margin-left: 1em;
  margin-right: 0em;
}

#calories, #ingredients {
  width: 250px;
}

#instruction {
  top: 0;
  left: 250px;
}

#content {
  width: 99%;
}

.recipes {
  max-width: 960px;
  padding-bottom: 4%;
  border-radius: 17px;
  border: 1px solid rgb(43, 43, 43);
  margin: 0.40em;
  padding-left: 0.75em;
  padding-right: 2em;
  box-shadow: 3px 3px 9px rgb(36, 62, 88);
}

#recipe-1 {
  background-color: rgb(213, 112, 69, .5);
}

#recipe-2 {
  background-color: rgb(240, 133, 7);
}

#recipe-3 {
  background-color: rgb(255, 215, 42);
}

#header-1, #header-2, #header-3  {
  text-align: center;
}
