body {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: .9em;
}

.content-cat {
  width: 16.66%;
  padding-left:0;
}

.content-text.skills-listing > ul > li.no-print {
  display: none;
}

.content-text.skills-listing > ul > li.print {
  display: table-cell;
}

.content-wrapper {
  padding-right: 0;
}

.pic {
  display: none;
}

img {
  display: inline-block;
}

.break {
  display: none;
}