

body {
  font-size: 177%;
}

.break {
  display: none;
}

/*
.full-name {
font-size: 1.5em;
}

.subtitle {
font-size:0.8em;
}
.content-cat {
font-size:1.1em;
}

.work-listing p {
font-size:1em;
}

p.work, p.edu, p.skills {
font-size: 1.5em;
}

.content-wrapper {
padding-right: 7.25%;
} */
