* {
  color: rgba(11, 1, 9, 0.85);
}

body {
  line-height: 1.5;
  position: relative;
  font-size: 24px;
}

h1, h2 {
  text-transform: uppercase;
  font-family:'Oswald', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  padding-left: 12%;
}

p {
  font-family: 'Slabo 27px', serif;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#header, #personal, #summary, #work, #education, #languages, #job-social, #software, #hobbies, #certificates {
  padding: .5em;
  position: static;
}

#header {
  position: static;
  left: 1em;
}

img {
  position: relative;
right: -4%;
border-radius: 15px;
width: 447px;
}

#personal {
  position: static;
  left: 1em;
  top: 5em;
}

#summary {
  position: static;
  left: 1em;
  top: 15em;
}

#work {
  position: static;
  left: 1em;
  top: 22em;
}

#education {
  position: static;
  left: 1em;
  top: 37em;
}

#languages {
  position: static;
  left: 1em;
  top: 50em;
}

#job-social {
  position: static;
  left: 1em;
  top: 70em;
}

#software {
  position: static;
  left: 1em;
  top: 100em;
}

#hobbies {
  position: static;
  left: 1em;
  top: 120em;
}

#certificates {
  position: static;
  left: 1em;
  top: 140em;
}