* {
  color: rgba(11, 1, 9, 0.85);
}

body {
  padding: 15px;
  margin: 5px;
  max-width: 100%;
}

h2 {
  text-transform: uppercase;
  text-transform: uppercase;
  margin-top: 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

p {
  margin-left: 1em;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li::before {
  content: " | ";
}

ul.breadcrumb li:first-child::before {
  content: "";
}

#header {
  position:relative;
  text-transform: uppercase;
  margin-bottom: 1%;
}

#personal {
  position: absolute;
  top: 16%;
}

#content {
  position: absolute;
  top: 48%;
}

#photo {
  position: absolute;
  top: 21%;
  right: 2%;
}

img {
  width: 193px;
  border-radius: 15px;
}

div#photo p {
  margin: 0;
}

#smaller-resolution {
  display: none;
}